### Applied Data Science Capstone by IBM/Coursera


## Capstone Project -  Week 4 - Questions 1&2
<br></br>
<br></br>
## Topic: The Highest Quality Borough for Tourists in Berlin 



## Table of contents
* [Introduction](#introduction)
* [Data](#data)
* [Methodology](#methodology)
* [Results](#results)
* [Discussion](#discussion)
* [Conclusion](#conclusion)

## Introduction <a name="introduction"></a>

**Berlin** is a great city for tourists. It is not a surprise that it is ranked as the most visited German city by <a href="https://www.worldatlas.com/articles/the-10-most-visited-cities-in-germany.html" target="_blank" rel="noopener">Worldatlas</a> with 31.1 milion tourists for 2016. 

However, as a tourist, you may find it **diffucult** to find out in which part of the city you should spend most of your time while being in Berlin. The city is relatively big. It is consisted by 891,8 km² of urbanized area, which is divided in 12 boroughs, full of great places to visit. The question I will try to answer is **which borough has the highest variaty of high quality tourist venues.** 

The main audience which may benefit by solving the problem above is the **one-day tourists.** It will be extremely valuable for them to know in which district should they spend their only day in Berlin in order to get the best out of it.

## Data <a name="data"></a>

Based on definition of the problem, factors that will influence the solution are:

* geolocation of the Berlin boroughs
* number of unique categories of venues in the borough
* average rating of the venues measured by the number of likes

In order to get this data, I decided to use three data providers:

* the list of the names of boroughs will be obtained from **Wikipedia**
* the geolocation latitute and longitute of the boroughs in Berlin will be obtained using **Google Maps API**
* number of unique categories of venues in the district and average rating of the venues measured by the number of likes will be obtained using **Foursquare API**

### Obtaining the names of the Berlin boroughs from Wikipedia

#### Installing the necessary libriaries

In [1]:
! pip install pandas
import pandas as pd
print("Libraries installed")

Requirement already satisfied: pandas in /Users/kirilyunakov/anaconda3/lib/python3.7/site-packages (0.24.2)
Requirement already satisfied: numpy>=1.12.0 in /Users/kirilyunakov/anaconda3/lib/python3.7/site-packages (from pandas) (1.16.4)
Requirement already satisfied: python-dateutil>=2.5.0 in /Users/kirilyunakov/anaconda3/lib/python3.7/site-packages (from pandas) (2.8.0)
Requirement already satisfied: pytz>=2011k in /Users/kirilyunakov/anaconda3/lib/python3.7/site-packages (from pandas) (2019.1)
Requirement already satisfied: six>=1.5 in /Users/kirilyunakov/anaconda3/lib/python3.7/site-packages (from python-dateutil>=2.5.0->pandas) (1.12.0)
Libraries installed

#### Obtaining the data from Wikipedia

In [2]:
from pandas.io.html import read_html
page = "https://en.wikipedia.org/wiki/Boroughs_and_neighborhoods_of_Berlin"

wikitables = read_html(page, attrs={"class":"wikitable"})
print("Exracted {num} wikitables".format(num=len(wikitables)))
wikitables[0]

Exracted 13 wikitables

,Borough,Population 31 March 2010,Area in km²,Density per km²,Map
0,Charlottenburg-Wilmersdorf,319628,64.72,4878,NaN
1,Friedrichshain-Kreuzberg,268225,20.16,13187,NaN
2,Lichtenberg,259881,52.29,4952,NaN
3,Marzahn-Hellersdorf,248264,61.74,4046,NaN
4,Mitte,332919,39.47,8272,NaN
5,Neukölln,310283,44.93,6804,NaN
6,Pankow,366441,103.01,3476,NaN
7,Reinickendorf,240454,89.46,2712,NaN
8,Spandau,223962,91.91,2441,NaN
9,Steglitz-Zehlendorf,293989,102.50,2818,NaN
10,Tempelhof-Schöneberg,335060,53.09,6256,NaN
11,Treptow-Köpenick,241335,168.42,1406,NaN

#### Converting the Wikitable into a Pandas DataFrame

In [3]:
wiki = wikitables[0]
df = pd.DataFrame(wiki)
df.head()

,Borough,Population 31 March 2010,Area in km²,Density per km²,Map
0,Charlottenburg-Wilmersdorf,319628,64.72,4878,NaN
1,Friedrichshain-Kreuzberg,268225,20.16,13187,NaN
2,Lichtenberg,259881,52.29,4952,NaN
3,Marzahn-Hellersdorf,248264,61.74,4046,NaN
4,Mitte,332919,39.47,8272,NaN

#### Removing the unnecessary columns

In [4]:
boroughs_list = df.drop(columns=['Population 31 March 2010', 'Area in km²', 'Density per km²', 'Map'], axis=1)
boroughs_list.head()

                      Borough
0  Charlottenburg-Wilmersdorf
1    Friedrichshain-Kreuzberg
2                 Lichtenberg
3         Marzahn-Hellersdorf
4                       Mitte